name: Reusable Release
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      dry_run:
        required: false
        type: boolean
        default: false

permissions:
  contents: write

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Create Release
        if: ${{ !inputs.dry_run }}
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ inputs.version }}
          tag_name: ${{ inputs.version }}
          generate_release_notes: true
          draft: false
          prerelease: false
